In [ ]:
n=input("Enter the String: ").lower()
s={}
for i in n:
    if i in s:
        s[i]+=1
    else:
        s[i]=1
print(s)

Enter the String: hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
def max(a,b,c):
  if (a>=b) and (a>=c):
        largest=a
  elif (b>=a) and (b>=c):
        largest=b
  else:
    largest=c
  return largest
a=12
b=10
c=15
print(max(a,b,c))

15

In [12]:
def sum(n):
while n>s:
  s=n*n*n
num=10
print(sum(num))

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-12-03204a993617>, line 2)

In [25]:
def sum(n):
    s=0
    for i in range(1,n+1):
        s=i*i*i
    return s
n=4
print(sum(n))

64

In [26]:
for i in range(1,11):
  if(i%2==0 and i%5==0):
    print("fizzbuzz")
  elif(i%2==0):
    print("fizz")
  elif(i%5==0):
    print("buzz")
  else:
    print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

In [39]:
def sqr(n):
    s = 0
    for num in n:
        for i in range(1, num + 1):
            s += i * i
    return s

n = (2, 5, 3, 1)
print(sqr(n))

75

In [47]:
print("even number")
for i in range(1,16):
    if i%2==0:
        print(i)
print("Odd numbers:")
for i in range(1,16):
    if i%2!=0:
        print(i)

even number
2
4
6
8
10
12
14
Odd numbers:
1
3
5
7
9
11
13
15

In [51]:
f=41
c= (f- 32) * 5 / 9
print("Celsius",c)

Celsius 5.0

In [54]:

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
number=3
result=factorial(number)
print(result)

6