In [5]:
def area(r):
  ac=3.14*r*r
  return(ac)
a=int(input("enter radius"))
r=area(a)
print(r)

enter radius7
153.86

In [13]:
details={'joy':{'roll no.':'1','mark':'87'},
         'aleena':{'roll no.':'5','mark':'95'},
         'annu':{'roll no.':'12','mark':'85'}}

In [12]:
details['joy']

{'roll no.': '1', 'mark': '87'}

In [31]:
import numpy as np
l = np.array([12, 3, 47, 10])
b=l.max()
b

47

In [6]:
num=0
for i in range(1,11):
    p=num+i
    print("Current Number",i,"Previous Number",num," Sum:",p)
    num=i

Current Number 1 Previous Number 0  Sum: 1
Current Number 2 Previous Number 1  Sum: 3
Current Number 3 Previous Number 2  Sum: 5
Current Number 4 Previous Number 3  Sum: 7
Current Number 5 Previous Number 4  Sum: 9
Current Number 6 Previous Number 5  Sum: 11
Current Number 7 Previous Number 6  Sum: 13
Current Number 8 Previous Number 7  Sum: 15
Current Number 9 Previous Number 8  Sum: 17
Current Number 10 Previous Number 9  Sum: 19

In [27]:
def divisible(list1):
    for num in list1:
        if num % 5==0:
            print(num)
x=[10, 20,33,46,55]
print(divisible(x))

10
20
55
None

In [28]:
n=int(input("input a no."))
if n>1:
  for i in range(2,n):
     if(n%i==0):
      print(n,"is not prime")
      break
  else:
    print(n,"is prime")
else:
  print(n,"is prime")

input a no.13
13 is prime

In [30]:
def reverse(list1):
   num= list1[::-1]
   return num
list1 = [10, 11, 12, 13, 14, 15]
print(reverse(list1))

[15, 14, 13, 12, 11, 10]

In [36]:
n=4
for i in range(0,n):
        for j in range(0,i+1):
            print("* ", end="")
        print()

*
* *
* * *
* * * *

In [35]:
import numpy as np
l = np.array([13,12,7])
b=l.max()
b

13

In [37]:
n = 5
for i in range(n):
    for j in range(i):
        print('* ', end="")
    print('')
for i in range(n, 0, -1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*