In [20]:
import pandas as pd

read the data

In [21]:
adult_data=pd.read_csv("/content/adult.csv")
adult_data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.0,40.0,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0.0,50.0,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0.0,40.0,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0.0,40.0,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0.0,30.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19235,26,Private,240842,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Female,0,0.0,40.0,United-States,<=50K
19236,53,Private,103931,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0.0,40.0,United-States,<=50K
19237,60,Private,232618,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0.0,35.0,United-States,>50K
19238,49,Local-gov,288548,Masters,14,Separated,Prof-specialty,Unmarried,White,Female,0,0.0,50.0,United-States,<=50K
19239,40,Private,220609,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,NaN,NaN,NaN,NaN

Display the first 5 rows of the dataset.

In [22]:
adult_data.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.0,40.0,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0.0,50.0,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0.0,40.0,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0.0,40.0,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0.0,30.0,United-States,<=50K

summary of the DataFrame

In [23]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19240 entries, 0 to 19239
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              19240 non-null  int64
 1   workclass        19240 non-null  object
 2   fnlwgt           19240 non-null  int64
 3   education        19240 non-null  object
 4   educational-num  19240 non-null  int64
 5   marital-status   19240 non-null  object
 6   occupation       19240 non-null  object
 7   relationship     19240 non-null  object
 8   race             19240 non-null  object
 9   gender           19240 non-null  object
 10  capital-gain     19240 non-null  int64
 11  capital-loss     19239 non-null  float64
 12  hours-per-week   19239 non-null  float64
 13  native-country   19239 non-null  object
 14  income           19239 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.2+ MB

descriptive statistics for numeric columns

In [24]:
adult_data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,19240.000000,1.924000e+04,19240.000000,19240.000000,19239.000000,19239.000000
mean,38.772297,1.896032e+05,10.074688,1072.134096,89.110921,40.406882
std,13.805254,1.057769e+05,2.565810,7501.229092,405.152457,12.418280
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.169925e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.779005e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.386468e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,3770.000000,99.000000

Display the column names of the DataFrame.

In [18]:
adult_data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

unique values in the 'workclass' column.

In [19]:
adult_data["workclass"].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

In [25]:
adult_data.income.map({'<=50K': 0, '>50K': 1})

0        0.0
1        0.0
2        1.0
3        1.0
4        0.0
        ...
19235    0.0
19236    0.0
19237    1.0
19238    0.0
19239    NaN
Name: income, Length: 19240, dtype: float64

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

In [26]:
bins = [0, 30, 60, float('inf')]
labels = ["youth", "adult", "senior"]
adult_data['age_group'] = pd.cut(adult_data['age'], bins=bins, labels=labels, right=False)

adult_data['age_group']

0         youth
1         adult
2         youth
3         adult
4         youth
          ...
19235     youth
19236     adult
19237    senior
19238     adult
19239     adult
Name: age_group, Length: 19240, dtype: category
Categories (3, object): ['youth' < 'adult' < 'senior']

Rename the 'educational-num' column to 'education_num'.

In [27]:
adult_data.rename(columns={'educational-num': 'education_num'}, inplace=True)
adult_data

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_group
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.0,40.0,United-States,<=50K,youth
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0.0,50.0,United-States,<=50K,adult
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0.0,40.0,United-States,>50K,youth
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0.0,40.0,United-States,>50K,adult
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0.0,30.0,United-States,<=50K,youth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19235,26,Private,240842,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Female,0,0.0,40.0,United-States,<=50K,youth
19236,53,Private,103931,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0.0,40.0,United-States,<=50K,adult
19237,60,Private,232618,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0.0,35.0,United-States,>50K,senior
19238,49,Local-gov,288548,Masters,14,Separated,Prof-specialty,Unmarried,White,Female,0,0.0,50.0,United-States,<=50K,adult
19239,40,Private,220609,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,NaN,NaN,NaN,NaN,adult

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [28]:
adult_data.replace("?", "unknown")

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_group
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.0,40.0,United-States,<=50K,youth
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0.0,50.0,United-States,<=50K,adult
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0.0,40.0,United-States,>50K,youth
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0.0,40.0,United-States,>50K,adult
4,18,unknown,103497,Some-college,10,Never-married,unknown,Own-child,White,Female,0,0.0,30.0,United-States,<=50K,youth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19235,26,Private,240842,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Female,0,0.0,40.0,United-States,<=50K,youth
19236,53,Private,103931,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0.0,40.0,United-States,<=50K,adult
19237,60,Private,232618,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0.0,35.0,United-States,>50K,senior
19238,49,Local-gov,288548,Masters,14,Separated,Prof-specialty,Unmarried,White,Female,0,0.0,50.0,United-States,<=50K,adult
19239,40,Private,220609,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,NaN,NaN,NaN,NaN,adult

Find the total capital-gain for each gender.

Get the count of each marital-status category.

In [34]:
adult_data['marital-status'].value_counts()

marital-status
Married-civ-spouse       8752
Never-married            6402
Divorced                 2595
Widowed                   626
Separated                 595
Married-spouse-absent     253
Married-AF-spouse          17
Name: count, dtype: int64

Find the mean hours-per-week worked by individuals in different education levels.

In [38]:
adult_data.groupby('education')['hours-per-week'].mean()

education
10th            36.807050
11th            34.185137
12th            34.813492
1st-4th         39.389474
5th-6th         39.259804
7th-8th         38.222527
9th             38.041812
Assoc-acdm      41.255591
Assoc-voc       41.543317
Bachelors       42.358383
Doctorate       45.862559
HS-grad         40.766544
Masters         43.291289
Preschool       35.722222
Prof-school     47.778502
Some-college    38.901488
Name: hours-per-week, dtype: float64

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

In [40]:
adult_data.groupby('race')['fnlwgt'].agg(['mean', 'median', 'std'])

                             mean    median            std
race
Amer-Indian-Eskimo  118584.893048  100584.0  102716.001760
Asian-Pac-Islander  158752.882662  137421.0   88291.880845
Black               235388.830662  212094.5  129008.554061
Other               190039.290541  173164.5  101396.867401
White               186269.450006  176882.0  101806.106909

Get the unique values and their counts for the 'native-country' column

In [41]:
adult_data['native-country'].value_counts()

native-country
United-States                 17318
Mexico                          362
?                               332
Philippines                     110
Germany                          81
Puerto-Rico                      80
Canada                           77
India                            59
El-Salvador                      56
China                            56
Cuba                             53
England                          47
Dominican-Republic               41
Italy                            41
South                            40
Japan                            37
Haiti                            36
Portugal                         35
Poland                           33
Jamaica                          31
Columbia                         28
Guatemala                        27
Greece                           24
Iran                             22
Vietnam                          21
Taiwan                           20
Nicaragua                        19
Ecuador                          18
Peru                             16
Thailand                         14
Ireland                          13
Cambodia                         11
Hong                             11
Outlying-US(Guam-USVI-etc)       10
Trinadad&Tobago                  10
France                           10
Scotland                         10
Honduras                         10
Yugoslavia                        8
Hungary                           6
Laos                              6
Name: count, dtype: int64

Filter the dataset to include only individuals with income >50K.

Sort the dataset by age in descending order.

In [47]:
adult_data.sort_values(by='age', ascending=False)

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_group
8982,90,Private,225063,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0.0,40.0,South,<=50K,senior
12446,90,Private,347074,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,1944.0,12.0,United-States,<=50K,senior
17321,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0.0,40.0,United-States,<=50K,senior
19172,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0.0,40.0,Puerto-Rico,<=50K,senior
11871,90,?,50746,10th,6,Divorced,?,Not-in-family,White,Female,0,0.0,7.0,United-States,<=50K,senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18662,17,Private,317681,11th,7,Never-married,Craft-repair,Own-child,White,Male,0,0.0,10.0,United-States,<=50K,youth
15318,17,Private,160029,11th,7,Never-married,Sales,Own-child,White,Female,0,0.0,14.0,United-States,<=50K,youth
2333,17,?,94492,10th,6,Never-married,?,Own-child,White,Female,0,0.0,30.0,United-States,<=50K,youth
15317,17,?,183161,12th,8,Never-married,?,Own-child,White,Female,0,0.0,8.0,United-States,<=50K,youth
7012,17,Self-emp-not-inc,33230,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0.0,15.0,United-States,<=50K,youth

Filter the dataset to include only individuals who work more than 40 hours per week.

In [50]:
adult_data[adult_data['hours-per-week'] > 40]

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_group
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0.0,50.0,United-States,<=50K,adult
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0.0,48.0,United-States,>50K,adult
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0.0,50.0,United-States,>50K,adult
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0.0,45.0,?,>50K,adult
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0.0,47.0,United-States,>50K,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19216,50,Local-gov,177705,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,1740.0,48.0,United-States,<=50K,adult
19229,45,Private,84790,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0.0,55.0,United-States,>50K,adult
19230,31,Private,186787,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0.0,42.0,United-States,<=50K,adult
19231,27,Private,169662,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0.0,42.0,United-States,>50K,youth
19238,49,Local-gov,288548,Masters,14,Separated,Prof-specialty,Unmarried,White,Female,0,0.0,50.0,United-States,<=50K,adult

In [ ]:
Calculate the percentage of missing values in each column.

In [51]:
(adult_data.isna().mean() * 100).round(2)

age               0.00
workclass         0.00
fnlwgt            0.00
education         0.00
education_num     0.00
marital-status    0.00
occupation        0.00
relationship      0.00
race              0.00
gender            0.00
capital-gain      0.00
capital-loss      0.01
hours-per-week    0.01
native-country    0.01
income            0.01
age_group         0.00
dtype: float64

Calculate the median income by education level and gender.

Find the top 3 occupations with the highest average capital-gain.

In [56]:
adult_data.groupby('occupation')['capital-gain'].mean()

occupation
?                     325.454152
Adm-clerical          421.741284
Armed-Forces          912.250000
Craft-repair          806.795703
Exec-managerial      2334.528571
Farming-fishing       868.932174
Handlers-cleaners     303.097291
Machine-op-inspct     276.170954
Other-service         237.951888
Priv-house-serv        49.276190
Prof-specialty       2776.243841
Protective-serv       683.997449
Sales                1225.367707
Tech-support          622.722039
Transport-moving      336.229581
Name: capital-gain, dtype: float64

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.